.university-table {
    width: 21%;
    margin: 0 auto;
    height: 1170px;
    border: 1px solid green;
}

.titulo {
    text-align: left ;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    display: inline-block;
}

.titulo2{
    
    margin-left: 150px;
}

.titulo3{
    margin-left: 90px;
}
