.students-row{
        width: 95%;
        margin: 0 auto;
        height: 30px;
        border: 2px solid brown;
        margin-top: 0px;
        margin-bottom: 10px;
    }

.name {
        text-align: left ;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
}
    
.grade{
        text-align: center ;
        margin-top: 0px;
        margin-left: 100px;
        margin-bottom: 0px;    
}
    
.gender{
        text-align: right ;
        margin-top: 0px;
        margin-left: 60px;
        margin-bottom: 0px;    
}

.statuscourse{
    color: red;
}

.imagen{
    width: 25px;
    float: right;
}

.grade-value{
        margin-left: 10px;
}

.gender-value{
        float: right;
}